__pycache__/
*.pyc
.venv/
*.log
eval/results.json
eval/*.tmp
build/
dist/
*.spec
eval/

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
# Medical image files (CT/MRI/Segmentations)
*.nii
*.nii.gz
*.mha
*.mhd
*.raw
*.nhdr
*.nrrd
# ITK-SNAP local workspace files & annotations
*.itksnap
*.txt
*.xml
